/* Component LESS */
@import "partial/main/main.less";
@import "partial/gameboard/gameboard.less";
@import "partial/winner/winner.less";
/* Add Component LESS Above */

.finish img {
  float: right;
}
.runner {
  display: block;
  list-style-type: none;
  padding: 3px;
  background: -moz-linear-gradient( center bottom, #254117, #C9D1B1, #C9D1B1, #C9D1B1, #C9D1B1);
  /*background: -moz-linear-gradient( center bottom, lightgrey, grey, white, #C9D1B1, #C9D1B1);*/
  border-right: 3px dotted #000; 
  width: 900px;
  height: 50px;
  cursor: pointer;
}
.runner > img {
  margin-left: 3em;
  position: relative;
  transition : left 2s ease-in, transform 1s;
  /*vertical-align: middle; */
}
.runner .bonus {
  position: absolute;
  left: 80px;
}
.alertBox {
  display: block;
  width: 50px;
  height: 50px;
  border-radius: 20px;
  background-color: #FFF;
}
.alertBox img {
}
.bonus.negative .alertBox {
  border: 3px solid #F00;
  background-color: yellow;
}
.bonus.positive .alertBox {
  border: 3px solid #000;
}
.die {
  position: absolute;
  font-size: 2em;
  margin: 5px 0px;
  width: 50px;
  padding: 5px;
  background-color: #FFF;
  text-align: center;
  border-radius: 30px;
  border: 1px solid #000;
}
.carSelect {
  position: absolute;
  font-size: 2em;
  left: 10px;
  margin: 15px 0px;
  width: 20px;
  height: 20px;
  background-color: transparent;
  border-radius: 20px;
  border: 1px solid #000;
}

.runner .selected { 
  background: #FFF;
  box-shadow: 2px 2px 2px;
}
.winner {
  transform: rotate(720deg);
}
#finish {
  position: absolute;
  top: 5px;
  left: 80%;
  background: url('../img/racing_flag.png') no-repeat bottom;
  background-color: #FFE87C;
  border-left: 4px dashed #606;
  height: 90%;
  width: 100px;
}
#questionDiv {
  position: absolute;
  text-align: center;
  font-size:2em;
  top: 5%;
  left: 15%;
  width: 70%;
  height: 40%;
  background-color: #FFF;
  border: 3px solid #000;
  border-radius: 30px;
  padding: 20px;
}
#questionDiv p {
  line-height: 1.3em;
  margin: 5px;
}
#questionDiv img {
  max-width: 500px;
}
#answerButton {
}
#closeButton {
  position: absolute;
  bottom: 10px;
  left: 10px;
}
p.answer {
  border-top : 2px dotted #000;
}
#questionTimer {
  float: right;
  margin: 10px;
  margin-right: 30%;
  padding: 20px;
  transition : all 0.5s ease;
  border: 3px solid #000;
  border-radius: 30px;
  background-color: #F00;
  color: #FFF;
  height: 150px;
  width: 400px;
  font-size: 130px;
  line-height: 130px;
}
#questionTimer.started {
  margin-right:10px;
  font-size: 30px;
  line-height: 40px;
  height: 50px;
  width: 40px;
  transform: rotate(360deg);
}
.blink {
  animation-duration: 0.3s;
  animation-name: blink;
  animation-iteration-count: infinite;
  animation-direction: alternate;
  animation-timing-function: ease-in-out;
}
@keyframes blink {
  from { opacity: 1; }
  to { opacity: 0; }
}
.ui-hide {
  display: none;
}
.ui-show {
  display: block;
}
