/* Component LESS */
@import "partial/main/main.less";
/* Add Component LESS Above */

.navbar-brand {
  cursor: pointer;
}
.navbar .dropdown-menu {
  background-color: #000;
}
.navbar .dropdown-menu li a {
  font-size: 1.2em;
  color: #FFF;
}
.navbar .dropdown-menu li a:hover {
  color: #000;
}
