<section class="col-md-12" ng-controller="tictactoeGameboardCtrl" data-ng-init="init()">

  <header class="tictactoe row">

    <img id="logoTeam0" ng-class="{'selected': currentPlayer.team==0, blink: blink == 0 }" ng-src="{{gameTeams[0].logo}}" />
    <img id="logoTeam1" ng-class="{'selected': currentPlayer.team==1, blink: blink == 1}" ng-src="{{gameTeams[1].logo}}" />

    <div class="col-md-2 text-left">
      <h1 class="scoreBoard">{{gameTeams[0].score}}</h1>
    </div>
    <div class="col-md-8"> 
      <h1 id="currentPlayer" ng-show="started && currentPlayer.name != ''" ng-class="{zoom : zoom==true}">{{currentPlayer.name}}</h1>
    </div>
    <div class="col-md-2 text-right">
      <h1 class="scoreBoard">{{gameTeams[1].score}}</h1>
    </div>

  </header>

  <div class="row">
    <table id="board">
      <tr ng-repeat="row in board track by $index">
        <!-- TODO : Use directive and test if image? + filters to add functionalities? -->
        <td ng-repeat="cell in row track by $index" ng-click="dropPiece($event, $parent.$index, $index)" ng-bind-html="cell"></td>
      </tr>
    </table>
  </div>

  <nav class="navbar navbar-inverse navbar-fixed-bottom" role="navigation">
    <div class="container-fluid">
      <div class="navbar-header">
        <a ng-click="goHome();" class="navbar-brand"><i class="fa fa-home fa-fw"></i></a>
        <a class="navbar-brand" ng-click="myAlert();"><i class="fa fa-cogs fa-fw"></i></a>
      </div>

      <ul class="nav navbar-nav">
        <li><a ng-hide="started || selectedTopic == false" ng-click="gameStart();"><i class="fa fa-check-circle fa-fw"></i> <span translate>Start game</span></a></li>  
        <li ng-show="started"><a ng-click="switchTeams(); selectPlayer();"><i class="fa fa-exchange fa-fw"></i> <span translate>Switch team</span></a></li>
        <li ng-show="currentPlayer && currentPlayer.name != ''"><a ng-click="selectPlayer();"><i class="fa fa-arrows-v fa-fw"></i> <span translate>Switch player</span></a></li>
        <li ng-show="selectedTopic"><a ng-click="mixTopic();"><i class="fa fa-refresh fa-fw"></i> <span translate>Mix topic</span></a></li>
        <li ng-show="started"><a ng-click="endGame();"><i class="fa fa-times fa-fw"></i> <span translate>End game</span></a></li>
        <li class="dropdown">
        <a href="#" class="dropdown-toggle" data-toggle="dropdown"><i class="fa fa-file fa-fw"></i> <span translate>Choose topic</span></a>
            <ul class="dropdown-menu topics" role="menu">
              <li ng-repeat="topic in allTopics">
              <a ng-class="{selected : topic == selectedTopic.title }" ng-click="selectTopic(topic)">{{topic}}</a>
              </li>
            </ul>
          </li>
        </ul>
        <div>
          <p class="navbar-text">{{selectedTopic[0].topic}}</p>
        </div>
    </div><!-- /.container-fluid -->
  </nav>

  <div id="backdrop" class="transparent-backdrop"></div> <!-- Hack to avoid double click on whiteboard -->
  <audio src="media/audio/applause.ogg" id="audio_winner"></audio>

</section>
