<div class="col-md-12" ng-controller="MainCtrl">
  <div class="row well text-center">
    <h1>FLGames</h1>
  </div>

  <div class="row well text-center">
		<a ui-sref="{{game.id}}" class="col-md-2 thumbnail" ng-repeat="game in allGames">
			<img class="img-thumbnail" ng-src="media/img/{{game.id}}-logo.png" alt="{{game.name}}-logo" width="200" />
			<h4 class="text-center"><span class="gameTitle">{{game.name}}</span></h4>
		</a>
  </div>

  <div class="row well text-center">
    <ul class="list-inline">
      <li ng-repeat="lang in lang" ng-click="setLanguage(lang)">
        <img ng-src="media/img/{{lang}}.png" alt="{{lang}}.png" max-width="50" ng-class="{ 'img-thumbnail' : currentLanguage == lang}" />
      </li>
    </ul>
  </div>
  
</div>
