<div class="col-md-12" ng-controller="MainCtrl">
  <div class="row well text-center">
    <h1>FLGames</h1>
  </div>

  <!-- <div class="row well text-center"> -->
		<!-- <a ui-sref="{{game.id}}" class="col-md-2 thumbnail" ng-repeat="game in allGames"> -->
			<!-- <img class="img-thumbnail" ng-src="media/img/{{game.id}}-logo.png" alt="{{game.name}}-logo" width="200" /> -->
			<!-- <h4 class="text-center"><span class="gameTitle">{{game.name}}</span></h4> -->
		<!-- </a> -->
  <!-- </div> -->

  <div class="row well text-center">
		<span class="col-md-2 thumbnail" ng-click="selectGame(game)" ng-class="{ 'selected' : game.id == mainParams.gameId}" ng-repeat="game in allGames">
			<img class="img-thumbnail" ng-src="media/img/{{game.id}}-logo.png" alt="{{game.name}}-logo" width="200" />
			<h4 class="text-center"><span class="gameTitle">{{game.name}}</span></h4>
		</span>
  </div>

	<div class="row well" ng-show="isSelected && mainParams.maxTeams > 0">
    <span class="title badge badge-success" translate># of Teams / Groups</span>
    <ul class="list-inline">
			<li ng-repeat="i in getNumber(mainParams.maxTeams) track by $index" ng-click="setNbGroups($index+1)" ng-class="$index+1 == mainParams.nbTeams ? 'btn btn-default btn-lg sel' : 'btn btn-lg btn-primary'"><span>{{$index+1}}</span></li>
    </ul>
  </div>

  <div class="row well" ng-show="isSelected">
    <span class="title badge badge-success" translate>Manage class</span>
    <h3 class="text-center" ng-show="isSelected">{{playersList.length}} <span translate>pupils</span> / {{remaining()}} <span translate>players</span></h3>
		<h4><label class="label label-warning"><span translate>See list (absent, teams...) ?</span><input type="checkbox" ng-model="checked"></label></h4>
  </div>

  <div class="teamList row well" ng-show="checked">
    <ul ng-show="isSelected" id="playersList" class="playersList list-unstyled">
      <li>
        <div class="btn-group">
          <button class="btn btn-success btn-mini" ng-click="switchOrder('name')" translate>Order by name</button>
          <button class="btn btn-success btn-mini" ng-click="switchOrder('team')" translate>Order by teams</button>
        </div>
      </li>
      <li ng-repeat="pupil in playersList | orderBy:orderProp">
       <label class="absent-{{pupil.absent}} team-{{pupil.team}}"><input type="checkbox" ng-model="pupil.absent" ng-change="drawTeams()">
         {{pupil.name}}
         <span ng-show="orderProp=='team' && pupil.absent==0">({{pupil.team+1}})</span>
       </label>
      </li>
      <li><button class="btn btn-success btn-mini" ng-click="drawTeams()" translate>Draw new teams</button></li>
    </ul>
  </div>

	<div class="navbar navbar-inverse navbar-fixed-bottom">
    <div class="container-fluid">
			<ul class="nav navbar-nav">
				<li class="dropdown">
					<a href="#" class="dropdown-toggle" data-toggle="dropdown"><i class="fa fa-cogs fa-fw"></i> Options</a>
					<ul class="dropdown-menu" role="menu">
						<li ng-repeat="lang in lang" ng-click="setLanguage(lang)">
							<a><img ng-src="media/img/{{lang}}.png" alt="{{lang}}.png" width="20" ng-class="{ 'framed' : currentLanguage == lang}" /></a>
						</li>
					</ul>
				</li>
				<li ng-click="selectMyClass('no-class')" ng-class="{active: mainParams.selectedClass == false}"><a href="#/" translate>No class</a></li>
				<li ng-repeat="class in allGroups" ng-click="selectMyClass(class)" ng-class="{active: mainParams.selectedClass == class}">
					<a ng-href="#/class/{{class}}">{{class}}</a>
				</li>
				<li class="divider-vertical"></li>
				<li>
					<form class="navbar-form pull-left">
						<button class="btn btn-info" ng-click="startGame(mainParams.gameId)" translate>Start the game!</button>
					</form>
				</li>
			</ul>
		</div>
	</div>
	
</div>
