<div class="col-md-12" ng-controller="MainCtrl">
  <div class="row well text-center">
    <h1>FLGames</h1>
  </div>

  <div class="row well text-center">
    <ul class="list-inline">
      <li ng-repeat="game in allGames">
      <a ui-sref="{{game.id}}"><img class="img-thumbnail" ng-src="media/img/{{game.id}}-logo.png" alt="{{game.name}}-logo" width="200" /><p class="text-center"><span class="badge">{{game.name}}</span></p></a>
      </li>
    </ul>
  </div>

  <div class="row well text-center">
    <ul class="list-inline">
      <li ng-repeat="lang in lang" ng-click="setLanguage(lang)">
        <img ng-src="media/img/{{lang}}.png" alt="{{lang}}.png" max-width="50" ng-class="{ 'img-thumbnail' : currentLanguage == lang}" />
      </li>
    </ul>
  </div>
  
</div>
