<div class="col-md-12" ng-controller="fightGameboardCtrl">
  <header class="casino row">
		<img class="pull-left" src="media/img/fight03.png" alt="img" width="200" />
		<h1 class="gameTitle text-center" translate> Writing Fight !</h1>
		<h2 class="text-center">Team :
			<span class="label label-primary">{{score01}}</span> - 
			Teacher : <span class="label label-primary">{{score02}}</span> 
		</h2>
	</header>

	<div class="current" ng-show="currentPlayer">
		<p>{{currentPlayer.name}}</p>
    <button class="btn" ng-click="closeCurrent()" translate>Close</button>
	</div>

  <div class="row gambleFeedback">
    <ol id="" class="savedList">
			<li ng-repeat="l in saved track by $index | orderBy:'$index':true">
				<h3>{{l}}</h3>
				<a class="btn btn-success btn-xs" ng-click="max(0)"><i class="fa fa-thumbs-up"></i></a>
				<a class="btn btn-danger btn-xs" ng-click="max(1)"><i class="fa fa-thumbs-down"></i></a>
				<a class="btn btn-primary btn-xs" ng-click="deleteSaved($index)">X</a>
			</li>
		</ol>
	</div>

  <div id="carrace_questionDiv" class="" ng-show="questionStart">
		<p>Write your text !</p>
		<p>
			<textarea class="reverse" width="150" rows="5" ng-model="questionToSave"></textarea>
		</p>
		<!-- <p>Grammar is...</p> -->
    <button class="btn btn-success" id="rightButton" ng-click="saveAnswer(0)" translate>Right</button>
    <button class="btn btn-danger" id="wrongButton" ng-click="saveAnswer(1)" translate>Wrong</button>
    <button class="btn btn-inverse" id="closeButton" ng-click="close()" translate>Close</button>
	</div>

  <nav class="navbar navbar-inverse navbar-fixed-bottom" role="navigation">
    <div class="container-fluid">
      <div class="navbar-header">
        <a ng-click="goHome();" class="navbar-brand" title="Go home"><i class="fa fa-home fa-fw"></i></a>
      </div>
			<ul class="nav navbar-nav">
				<li><a ng-click="addSentence();" class="" title="Add a sentence"><i class="fa fa-plus-circle fa-fw"></i> Add sentence</a></li>
				<li><a ng-click="max(0);" class="" title="Add 1pt"><i class="fa fa-plus-square"></i> +1 for Team</a></li>
				<li><a ng-click="max(1);" class="" title="Add 1pt"><i class="fa fa-plus-square-o"></i> +1 for Teacher </a></li>
				<li><a ng-click="min(0);" class="" title="Remove 1pt"><i class="fa fa-minus-square"></i> -1 for Team </a></li>
				<li><a ng-click="min(1);" class="" title="Remove 1pt"><i class="fa fa-minus-square-o"></i> -1 for Teacher </a></li>
        <li><a ng-click="endGame();" title="End game"><i class="fa fa-times fa-fw"></i> <span class="hideLow" translate>End game</span></a></li>
			</ul>
    </div><!-- /.container-fluid -->
  </nav>

</div>
