<div class="col-md-12" ng-controller="TictactoeCtrl" ng-init="init">

  <div class="page-header text-center">
    <h1 class="gameTitle">Tic Tac Toe <span class="badge badge-info">Configuration</span></h1>
  </div>

  <div class="row well" ng-show="!showRules">
    <span class="title badge badge-success" translate>Class</span>
    <ul class="list-inline">
      <li class="btn btn-primary btn-lg" ui-sref-active="selected"><a ui-sref="tictactoe({classId: ''})" translate>No class</a></li>
      <li class="btn btn-primary btn-lg" ng-repeat="class in allGroups" ui-sref-active="selected"><a ui-sref="tictactoe({classId: '{{class}}'})">{{class}}</a></li>
    </ul>
  </div>

  <div class="row well" ng-show="!showRules">
    <h3 class="text-center" ng-show="isSelected">{{playersList.length}} <span translate>pupils</span> / {{remaining()}} <span translate>players</span></h3>
    <ul ng-show="isSelected" id="playersList" class="playersList list-unstyled">
      <li>
        <div class="btn-group">
          <button class="btn btn-success btn-mini" ng-click="switchOrder('name')" translate>Order by name</button>
          <button class="btn btn-success btn-mini" ng-click="switchOrder('team')" translate>Order by teams</button>
        </div>
      </li>
      <li ng-repeat="pupil in playersList | orderBy:orderProp">
       <label class="absent-{{pupil.absent}} team-{{pupil.team}}"><input type="checkbox" ng-model="pupil.absent" ng-change="drawTeams()">
         {{pupil.name}}
         <span ng-show="orderProp=='team' && pupil.absent==0">({{pupil.team+1}})</span>
       </label>
      </li>
      <li><button class="btn btn-success btn-mini" ng-click="drawTeams()" translate>Draw new teams</button></li>
    </ul>
    <p class="text-center">
    <a class="btn btn-warning btn-lg" ui-sref="gameboard({gameId: 'tictactoe'})" translate>Start the game!</a>
    </p>
  </div>

  <div class="row well" ng-show="showRules">
		<span class="title badge badge-success" translate>Game rules</span>
		<ul>
			<li translate>Choose a topic to prepare the gameboard.</li>
			<li translate>Click on 'Start the Game' (or on the gameboard).</li>
			<li translate>A player is randomly chosen.</li>
			<li translate>He or she has to choose a square/question/image/prompt...</li>
			<li translate>Wrong answer ? 'Switch team' !</li>
			<li translate>Correct answer ? Click on the succeeded square and the team mark will go there.</li>
			<li translate>Try to align 3 marks to get a point !</li>
			<li translate>The first team with 5 points is the winning team !</li>
		</ul>
		<p class="text-center"><button ng-click="showRules = !showRules;" class="btn btn-primary" translate>Ok, I got it !</button></p>
	</div>

  <div class="row">
    <nav class="navbar navbar-inverse navbar-fixed-bottom" role="navigation">
      <div class="container-fluid">
        <div class="navbar-header">
          <a class="navbar-brand" ui-sref="home"><i class="fa fa-home fa-fw"></i></a>
					<a class="navbar-brand" ng-click="showRules = !showRules;" title="See game rules"><i class="fa fa-question-circle fa-fw"></i></a>
        </div>
      </div><!-- /.container-fluid -->
    </nav>
  </div>

</div>
