<div class="col-md-12" ng-controller="WinnerCtrl">

  <div class="page-header text-center">
    <h1 class="gameTitle">Grammar Gamble <span class="badge badge-info" translate>Results!</span></h1>
  </div>

  <div class="row well text-center">
    <h1 translate>Who is the winner ?</h1>
    <h2 translate>Tell your score to the class!</h2>
    <h3 translate>What's the Top 5 ?</h3>
	</div>

  <nav class="navbar navbar-inverse navbar-fixed-bottom" role="navigation">
    <div class="container-fluid">
      <div class="navbar-header">
        <a class="navbar-brand" ui-sref="home" href="#"><i class="fa fa-home fa-fw"></i></a>
      </div>
    </div><!-- /.container-fluid -->
  </nav>

</div>
